<div class="row">
  <div class="col-md-6">
    <h3> 
      Первый в мире удобный менеджер флеш-карточек. Именно так.
    </h3>
  </div><br>
  <div class="col-md-6">
    <% if @card.present? %>
      <h4><%= @card.translated_text %></h4>
      <%= form_tag check_path, method: :put do %>
        <%= hidden_field_tag :card_id, @card.id %>
        <%= text_field_tag :original_text, nil, placeholder: 'Введите перевод' %>
        <button>Проверить</button>
      <% end %>
    <% else %>
      <b>Нет карточек для проверки</b>
    <% end %>
  </div>
</div>

