<!DOCTYPE html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <section id="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to 'Все карточки', controller: 'cards' %></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </header>
      <%=yield%>
  </section>
</body>
</html>
